In [1]:
from reco_system.dataset import get_dataset
import pandas as pd

In [5]:
users_df, products_df, interactions_df = get_dataset()

/home/luc/Documents/Dev/reco_system/src/reco_system/dataset.py:63: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  "timestamp": pd.date_range(

In [6]:
users_df.head(5)

   user_id  age gender  location
0        1   22      F     Rural
1        2   67      F     Rural
2        3   65      F  Suburban
3        4   24      F     Rural
4        5   36      F     Urban